#mouth {
    background-image: url(mouth.png);
}

#tool {
    background-image: url(thermometer.png);
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 50px;
}